body {
  font-family: 'Optima';
}

@font-face {
  font-family: 'Optima';
  src: url('/css/OPTIMA.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url('/css/OPTIMA_B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url('/css/optima-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Optima';
  src: url('/css/Optima Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}